lib/SQL/knex3.0
[{"id":"41ba01c8.39fae","type":"function","z":"a312c87a.282a08","name":"sql exec","func":"var statements = msg.payload.split(\";\");\nflow.set('responses',[]);\nflow.set('statements',statements);\nflow.set('count',0);\nflow.set('exec', function(){\n    context.global.knex.raw(flow.get('statements')[flow.get('count')]).then(\n\t    function(resp){\n\t        var responses = flow.get('responses');\n\t        responses.push(resp);\n\t        flow.set('count',flow.get('count')+1);\n\t        if(flow.get('count')>=flow.get('statements').length){\n\t            msg.payload = JSON.stringify(responses);\n\t            msg.headers = {\n                     'Content-type' : 'application/json'\n                };\n\t            node.send(msg);\n\t        } else {\n\t            flow.get('exec')();\n\t        }\n\t    }\n    );\n} );\nflow.get('exec')();\nreturn null;","outputs":1,"noerr":0,"x":437.20001220703125,"y":118.19999694824219,"wires":[["9a46acad.e28f2","a883f1ce.01b4b"]]},{"id":"d68c1544.7f3308","type":"inject","z":"a312c87a.282a08","name":"supplier","topic":"test","payload":"select rowid, * from supplier order by rowid limit 5 offset 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":175.20001220703125,"y":118.19999694824219,"wires":[["41ba01c8.39fae"]]},{"id":"9a46acad.e28f2","type":"debug","z":"a312c87a.282a08","name":"","active":false,"console":"false","complete":"false","x":868.2000122070312,"y":117.19999694824219,"wires":[]},{"id":"c79a4002.022c4","type":"http in","z":"a312c87a.282a08","name":"sql webservice","url":"/sql","method":"get","swaggerDoc":"","x":130.20001220703125,"y":46.19999694824219,"wires":[["182c75da.f220da"]]},{"id":"182c75da.f220da","type":"function","z":"a312c87a.282a08","name":"prepare sql","func":"if(msg.payload.sql!==undefined){\n    msg.topic=\"http\";\n    msg.payload=msg.payload.sql;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":316.20001220703125,"y":46.19999694824219,"wires":[["41ba01c8.39fae","c719fab1.8aed58"]]},{"id":"c80b14fd.149318","type":"http response","z":"a312c87a.282a08","name":"","x":851.2000122070312,"y":44.19999694824219,"wires":[]},{"id":"c719fab1.8aed58","type":"debug","z":"a312c87a.282a08","name":"","active":false,"console":"false","complete":"payload","x":498.20001220703125,"y":45.19999694824219,"wires":[]},{"id":"a883f1ce.01b4b","type":"function","z":"a312c87a.282a08","name":"http?","func":"if(msg.topic===\"http\"){\n    return [msg,null];\n}\nelse{\n    msg.search = flow.get('sql').search || \"\";\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":707.2000122070312,"y":44.19999694824219,"wires":[["c80b14fd.149318"],["3ef070bd.d86fd"]]},{"id":"3ef070bd.d86fd","type":"ui_template","z":"a312c87a.282a08","group":"f08b4699.331b78","name":"Table View","order":5,"width":"0","height":"0","format":"<table>\n<tr>\n  <th ng-repeat=\"(key,value) in table[0]\">{{key}}</th>\n</tr>\n<tbody ng-repeat=\"row in table\">\n<tr ng-if=\"$even\">\n  <td ng-repeat=\"(key,value) in row\" ng-bind-html=\"decorate(value)\"></td>\n</tr>\n<tr ng-if=\"$odd\">\n  <td style=\"background-color:#f1f1f1\" ng-repeat=\"(key,value) in row\" ng-bind-html=\"decorate(value)\"></td>\n</tr>\n</tbody> \n</table>\n<style>\ntable, td  {\n  border: 1px solid grey;\n  border-collapse: collapse;\n  padding: 5px;\n}\n.highlighted { background: yellow }\n</style>\n<script>\n(function(scope) {\n    // debugger;\n    scope.table=[];\n    scope.search=\"\";\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n            scope.table=JSON.parse(scope.msg.payload)[0];\n            scope.search = scope.msg.search;\n    });\n    scope.decorate = function(value){\n        // debugger;\n        var tmp=\"\";\n        if ((scope.search)  && (($.type(value) === \"string\")))\n            tmp = value.replace(  new RegExp('('+scope.search+')', 'gi'),\n                                    '<span class=\"highlighted\">$1</span>');\n        else\n            tmp = value;\n        if (($.type(tmp) === \"string\")&&(tmp.length==0)) return value; else return tmp;\n    };\n})(scope);    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":723.2000122070312,"y":166.1999969482422,"wires":[[]]},{"id":"ed97bf43.5f583","type":"inject","z":"a312c87a.282a08","name":"customer","topic":"test","payload":"select rowid, * from customer order by rowid limit 5 offset 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.20001220703125,"y":188.1999969482422,"wires":[["41ba01c8.39fae"]]},{"id":"a9758e02.cb0a7","type":"ui_template","z":"a312c87a.282a08","group":"f08b4699.331b78","name":"paging controller","order":6,"width":0,"height":0,"format":"<div paging page=\"page\" page-size=\"page_size\" total=\"total\" paging-action=\"paging(page, pageSize, total)\">\n</div>\n<script>\n(function(scope) {\n    scope.total=0;\n    scope.page_size=0;\n    scope.page=0;\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n        // debugger;\n        if(scope.msg!==undefined){\n            scope.total=scope.msg.total;\n            scope.page_size=scope.msg.page_size;\n            scope.page=scope.msg.page;\n        }\n            \n    });\n    scope.paging=function(page,pageSize,total){\n        // debugger;\n        scope.msg.page=page;\n        scope.msg.page_size=pageSize;\n        scope.send(scope.msg);\n    };\n})(scope); \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":703.2000122070312,"y":358.1999969482422,"wires":[["706e88ee.37fbc8","f662d2bc.cae8"]]},{"id":"ff4da48b.36bde8","type":"function","z":"a312c87a.282a08","name":"total, page_size","func":"context.global.knex.raw(flow.get('sql').qtotal).then(\n\t    function(resp){\n\t        // console.log(resp[0].count);\n\t        msg.total=resp[0].count;\n\t        flow.get('sql').total=resp[0].count;\n\t        msg.page_size=flow.get('sql').page_size;\n\t        msg.page=flow.get('sql').page;\n\t        node.send(msg);\n\t    });\nreturn null;","outputs":1,"noerr":0,"x":482.20001220703125,"y":358.1999969482422,"wires":[["a9758e02.cb0a7","13c88c55.235424"]]},{"id":"f662d2bc.cae8","type":"function","z":"a312c87a.282a08","name":"sql page request","func":"flow.get('sql').page=msg.page;\nflow.get('sql').page_size=msg.page_size;\nmsg.payload=flow.get('sql').qpage;\nreturn msg;","outputs":1,"noerr":0,"x":442.20001220703125,"y":230.1999969482422,"wires":[["41ba01c8.39fae","8e9fada0.ac71d"]]},{"id":"dc554dcc.e7ce4","type":"inject","z":"a312c87a.282a08","name":"","topic":"","payload":"customer","payloadType":"str","repeat":"","crontab":"","once":false,"x":279.20001220703125,"y":357.1999969482422,"wires":[["140aea17.8b3ed6"]]},{"id":"706e88ee.37fbc8","type":"debug","z":"a312c87a.282a08","name":"","active":false,"console":"false","complete":"true","x":915.2000122070312,"y":357.1999969482422,"wires":[]},{"id":"233ec920.8e25c6","type":"ui_dropdown","z":"a312c87a.282a08","name":"Table choice","label":"","group":"f08b4699.331b78","order":3,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":302.20001220703125,"y":476.1999969482422,"wires":[["140aea17.8b3ed6"]]},{"id":"86b64dd9.c9fe3","type":"inject","z":"a312c87a.282a08","name":"once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":91.20000839233398,"y":463.53335094451904,"wires":[["4e22ef38.70da1"]]},{"id":"4b18c05c.1595b","type":"debug","z":"a312c87a.282a08","name":"","active":false,"console":"false","complete":"true","x":550.2000122070312,"y":540.1999969482422,"wires":[]},{"id":"4e22ef38.70da1","type":"function","z":"a312c87a.282a08","name":"sql functions + List of tables","func":"flow.set('sql',{\n    get table() { return flow.get('table');},\n    set table(t) { flow.set('table',\"'\"+t+\"'\");},\n    get qtotal(){ return 'select Count(*) as count from '+flow.get('table')+ flow.get('sql').whereorall;},\n    get total() { return flow.get('total');},\n    set total(t) {flow.set('total',t);},\n    get page_size() {return flow.get('page_size');},\n    set page_size(s) {flow.set('page_size',s);}, \n    get page() { return flow.get('page');},\n    set page(p) {flow.set('page',p);},\n    get qpage(){ return \"select rowid, * from  \"+\n                        flow.get('table')+flow.get('sql').whereorall+\" order by rowid limit \"+\n                        flow.get('page_size')+\" offset \"+flow.get('page_size')*(flow.get('page')-1);},\n    get search() {return flow.get('search');},\n    set search(s) {flow.set('search',s);},\n    set columns(c) {flow.set('columns',c);},\n    get columns() { return flow.get('columns');},\n    set tables(t) {flow.set('tables',t);},\n    get tables() {return flow.get('tables');},\n    get whereorall() {\n        var where = \"\";\n        var search = flow.get('search');\n        if((search!==undefined)&&(search!==null)&&(search.length>0)){\n            var columns = flow.get('columns');\n            if((columns!==undefined)&&(columns!==null)&&(columns.length>0)){\n                where = \" where \";\n                for(var i=0; i< columns.length; i++){\n                    where = where + columns[i].name+ \" like '%\"+flow.get('search')+\"%'\"; \n                    if (i<columns.length-1){\n                        where = where + \" or \";\n                    }\n                }\n            }\n        }\n        return where;\n    }\n});\n/* set the page_size */\nflow.get('sql').page_size=5;\nflow.get('sql').page=1;\n/* get a list of table backend dependent */\ncontext.global.knex.raw('select * from sqlite_master').then(\n\t    function(resp){\n\t        msg.options=[];\n\t        var tables=[];\n\t        for(var i=0; i<resp.length;i++){\n\t            if(resp[i].type==='table'){\n\t                msg.options.push(resp[i].name);\n\t                tables.push(resp[i]);\n\t            }\n\t        }\n\t        msg.options=msg.options.sort();\n\t        msg.payload=msg.options[0];\n\t        flow.get('sql').table=msg.options[0];\n\t        flow.get('sql').tables=tables;\n\t        node.send(msg);\n\t    }\n);\nreturn null;","outputs":1,"noerr":0,"x":156.20001220703125,"y":543.1999969482422,"wires":[["233ec920.8e25c6","4b18c05c.1595b"]]},{"id":"78e20d0e.d5df04","type":"ui_text_input","z":"a312c87a.282a08","name":"","label":"search","group":"f08b4699.331b78","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":110.20001220703125,"y":287.1999969482422,"wires":[["4e496c57.cfb134"]]},{"id":"140aea17.8b3ed6","type":"function","z":"a312c87a.282a08","name":"get columns","func":"flow.get('sql').table=msg.payload;\nflow.get('sql').page=1;\n/* get a list of associated columns  backend dependent*/\ncontext.global.knex.raw('pragma table_info('+flow.get('sql').table+')').then(\n    function(resp){\n        flow.get('sql').columns=resp;\n        // console.log(resp);\n        node.send(msg);\n    }\n);\nreturn null;","outputs":1,"noerr":0,"x":396.20001220703125,"y":419.1999969482422,"wires":[["ff4da48b.36bde8"]]},{"id":"8e9fada0.ac71d","type":"debug","z":"a312c87a.282a08","name":"","active":false,"console":"false","complete":"true","x":639.2000122070312,"y":230.1999969482422,"wires":[]},{"id":"4e496c57.cfb134","type":"function","z":"a312c87a.282a08","name":"save search","func":"flow.get('sql').search=msg.payload;\nflow.get('sql').page=0;\nreturn msg;","outputs":1,"noerr":0,"x":272.20001220703125,"y":287.1999969482422,"wires":[["ff4da48b.36bde8"]]},{"id":"13c88c55.235424","type":"ui_template","z":"a312c87a.282a08","group":"f08b4699.331b78","name":"Menu, total","order":1,"width":"2","height":"1","format":"<div layout=\"row\">\n<md-menu>\n <!-- Trigger element is a md-button with an icon -->\n <md-button ng-click=\"$mdOpenMenu($event)\" class=\"md-icon-button\" style=\"height:30px;width:30px;padding:0 0 0 0;\" aria-label=\"Open menu\">\n   <md-icon>settings</md-icon>\n </md-button>\n <md-menu-content>\n   <md-menu-item><md-button ng-click=\"Setup()\">Setup</md-button></md-menu-item>\n   <md-menu-item><md-button ng-click=\"Admin()\">Admin</md-button></md-menu-item>\n </md-menu-content>\n</md-menu>\n<small>&nbsp;</small>\n<small>{{total}}</small>\n</div>\n<script>\nfunction loadjscssfile(filename, filetype){\n    if (filetype==\"js\"){ //if filename is a external JavaScript file\n        var fileref=document.createElement('script');\n        fileref.setAttribute(\"type\",\"text/javascript\");\n        fileref.setAttribute(\"src\", filename);\n    }\n    else if (filetype==\"css\"){ //if filename is an external CSS file\n        var fileref=document.createElement(\"link\");\n        fileref.setAttribute(\"rel\", \"stylesheet\");\n        fileref.setAttribute(\"type\", \"text/css\");\n        fileref.setAttribute(\"href\", filename);\n    }\n    if (typeof fileref!=\"undefined\")\n        document.getElementsByTagName(\"head\")[0].appendChild(fileref);\n}\nloadjscssfile(\"https://fonts.googleapis.com/icon?family=Material+Icons\",\"css\");\n(function(scope) {\n    if((scope.msg!==undefined)&&(scope.msg.action!=undefined))\n        delete scope.msg.action;\n    scope.Setup=function(){\n        // debugger;\n        scope.msg.action=\"setup\";\n        scope.msg.stamp=Math.random();\n        scope.send(scope.msg);\n    };\n    scope.Admin=function(){\n        // debugger;\n        scope.msg.action=\"admin\";\n        scope.msg.stamp=Math.random();\n        scope.send(scope.msg);\n    };\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n        // debugger;\n        if(scope.msg!==undefined){\n            if(scope.msg.total!=undefined) scope.total=scope.msg.total;\n        }\n    });\n})(scope); \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":601.2000122070312,"y":468.1999969482422,"wires":[["e1c93d1f.65162","342e868f.514e5a"]]},{"id":"65eb223e.a9bddc","type":"ui_template","z":"a312c87a.282a08","group":"f08b4699.331b78","name":"Dialog admin","order":0,"width":0,"height":0,"format":"<div style=\"display: none;\" id=\"dialogContainer\" ng-controller=\"dialogController as ctrl\" layout=\"row\" ng-cloak>\n    <md-button id=\"custom\" class=\"md-primary md-raised\" ng-click=\"showCustom($event)\">\n        Custom\n    </md-button>\n    <span>{{answer}}</span>\n</div>\n<script language=\"javascript\">\n(function(scope) {\n    debugger;\n    if(scope.stamp===undefined) scope.stamp=-1;\n    if((scope.msg!==undefined)&&(scope.msg.stamp!==undefined)){\n        scope.stamp=scope.msg.stamp;\n    }\n    scope.triggerClick = function () {\n        setTimeout(function() {\n            angular.element('#custom').trigger('click');\n        }, 0);\n    };\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n        // debugger;\n        if(scope.msg!==undefined){\n            if(scope.msg.action!==undefined){\n                if(scope.stamp==-1){\n                    scope.stamp=scope.msg.stamp;\n                }\n                if(scope.stamp!=scope.msg.stamp){\n                    scope.stamp=scope.msg.stamp;\n                    scope.triggerClick();\n                }\n            }\n        }\n    });\n    angular\n        .module('ui')\n        .controller('dialogController', scope.dialogController);\n    scope.dialogController = function($scope, $mdDialog) {\n        $scope.showCustom = function(event) {\n            // debugger;\n            $mdDialog.show({\n                clickOutsideToClose: true,\n                scope: $scope,        \n                preserveScope: true,           \n                templateUrl: 'dialog1.tmpl.html',\n                controller: function DialogController($scope, $mdDialog) {\n                    $scope.cancel = function() {\n                        $mdDialog.hide();\n                    }\n                    $scope.answer = function(resp) {\n                        debugger;\n                        $scope.answer=resp;\n                        $mdDialog.hide();\n                    }\n                }\n            });\n        };\n    }\n})(scope);         \n</script>    \n<script type=\"text/ng-template\" id=\"dialog1.tmpl.html\"><md-dialog aria-label=\"Mango (Fruit)\">\n  <form ng-cloak>\n    <md-toolbar>\n      <div class=\"md-toolbar-tools\">\n        <h2>Manage Table Structure</h2>\n        <span flex></span>\n        <md-button class=\"md-icon-button\" ng-click=\"cancel()\">\n          <md-icon aria-label=\"Close dialog\">clear</md-icon>\n        </md-button>\n      </div>\n    </md-toolbar>\n\n    <md-dialog-content>\n      <div class=\"md-dialog-content\">\n        <pre>{{msg.sql}}</pre>\n        <table>\n            <tr>\n                <th ng-repeat=\"(key,value) in msg.columns[0]\">{{key}}</th>\n            </tr>\n            <tbody ng-repeat=\"row in msg.columns\" ng-init=\"rowIndex = $index\">\n                <tr ng-if=\"$even\">\n                    <td ng-repeat=\"(key,value) in row\">\n                        <input type=\"text\" ng-model=\"msg.columns[rowIndex][key]\">\n                    </td>\n                </tr>\n                <tr ng-if=\"$odd\">\n                    <td style=\"background-color:#f1f1f1\" ng-repeat=\"(key,value) in row\">\n                        <input type=\"text\" ng-model=\"msg.columns[rowIndex][key]\" style=\"background-color:#f1f1f1\">\n                    </td>\n                </tr>\n            </tbody> \n        </table>\n      </div>\n    </md-dialog-content>\n\n    <md-dialog-actions layout=\"row\">\n      <md-button href=\"http://en.wikipedia.org/wiki/Mango\" target=\"_blank\" md-autofocus>\n        More on Wikipedia\n      </md-button>\n      <span flex></span>\n      <md-button ng-click=\"answer('not useful')\">\n       Not Useful\n      </md-button>\n      <md-button ng-click=\"answer('useful')\">\n        Useful\n      </md-button>\n    </md-dialog-actions>\n  </form>\n</md-dialog>\n</script>\n<style>\ntable, td  {\n  border: 1px solid grey;\n  border-collapse: collapse;\n  padding: 5px;\n}\n.highlighted { background: yellow }\n</style>","storeOutMessages":true,"fwdInMessages":true,"x":939.2000122070312,"y":414.1999969482422,"wires":[[]]},{"id":"e1c93d1f.65162","type":"debug","z":"a312c87a.282a08","name":"","active":false,"console":"false","complete":"true","x":753.2000122070312,"y":638.1999969482422,"wires":[]},{"id":"342e868f.514e5a","type":"function","z":"a312c87a.282a08","name":"switch action","func":"msg.table=flow.get('sql').table;\nmsg.columns=flow.get('sql').columns;\n// find associated sql create\nconsole.log(flow.get('sql').tables);\nvar table = flow.get('sql').table.replace(/'/g, '');\nconsole.log(table);\nfor(var i=0; i< flow.get('sql').tables.length; i++){\n    if(flow.get('sql').tables[i].name==table){\n        msg.sql = flow.get('sql').tables[i].sql;\n    }\n}\nif(msg.action==='admin') return [msg,null];\nelse if (msg.action==='setup') return [null,msg];\nreturn [null,null];","outputs":"2","noerr":0,"x":773.2000122070312,"y":468.1999969482422,"wires":[["65eb223e.a9bddc","830b505a.42083"],[]]},{"id":"830b505a.42083","type":"debug","z":"a312c87a.282a08","name":"","active":true,"console":"false","complete":"sql","x":912.5000457763672,"y":522.4000091552734,"wires":[]},{"id":"f08b4699.331b78","type":"ui_group","z":"","name":"Table Browser 3.0","tab":"d1a2d913.532aa8","disp":true,"width":"27"},{"id":"d1a2d913.532aa8","type":"ui_tab","z":"","name":"SQL 3.0","icon":"dashboard","order":1}]
