lib/SQL/knex3.0
[{"id":"97e49789.a4cf88","type":"function","z":"37229101.7683ee","name":"sql exec","func":"var statements = msg.payload.split(\";\");\nflow.set('responses',[]);\nflow.set('statements',statements);\nflow.set('count',0);\nflow.set('exec', function(){\n    context.global.knex.raw(flow.get('statements')[flow.get('count')]).then(\n\t    function(resp){\n\t        var responses = flow.get('responses');\n\t        responses.push(resp);\n\t        flow.set('count',flow.get('count')+1);\n\t        if(flow.get('count')>=flow.get('statements').length){\n\t            msg.payload = JSON.stringify(responses);\n\t            msg.headers = {\n                     'Content-type' : 'application/json'\n                };\n\t            node.send(msg);\n\t        } else {\n\t            flow.get('exec')();\n\t        }\n\t    }\n    );\n} );\nflow.get('exec')();\nreturn null;","outputs":1,"noerr":0,"x":514,"y":243,"wires":[["3c404261.e57eee","331caed3.1098f2"]]},{"id":"43dc2cd.df030d4","type":"inject","z":"37229101.7683ee","name":"supplier","topic":"test","payload":"select rowid, * from supplier order by rowid limit 5 offset 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":252,"y":243,"wires":[["97e49789.a4cf88"]]},{"id":"3c404261.e57eee","type":"debug","z":"37229101.7683ee","name":"","active":false,"console":"false","complete":"false","x":945,"y":242,"wires":[]},{"id":"cfbf96c8.803838","type":"http in","z":"37229101.7683ee","name":"sql webservice","url":"/sql","method":"get","swaggerDoc":"","x":207,"y":171,"wires":[["bbfd9fa7.a99fc"]]},{"id":"bbfd9fa7.a99fc","type":"function","z":"37229101.7683ee","name":"prepare sql","func":"if(msg.payload.sql!==undefined){\n    msg.topic=\"http\";\n    msg.payload=msg.payload.sql;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":393,"y":171,"wires":[["97e49789.a4cf88","b52e3380.10612"]]},{"id":"2d42d384.67581c","type":"http response","z":"37229101.7683ee","name":"","x":928,"y":169,"wires":[]},{"id":"b52e3380.10612","type":"debug","z":"37229101.7683ee","name":"","active":false,"console":"false","complete":"payload","x":575,"y":170,"wires":[]},{"id":"331caed3.1098f2","type":"function","z":"37229101.7683ee","name":"http?","func":"if(msg.topic===\"http\"){\n    return [msg,null];\n}\nelse{\n    msg.search = flow.get('sql').search || \"\";\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":784,"y":169,"wires":[["2d42d384.67581c"],["4189a7b3.b8acf8"]]},{"id":"4189a7b3.b8acf8","type":"ui_template","z":"37229101.7683ee","group":"2da1cfae.4650e","name":"Table View","order":5,"width":"0","height":"0","format":"<table>\n<tr>\n  <th ng-repeat=\"(key,value) in table[0]\">{{key}}</th>\n</tr>\n<tbody ng-repeat=\"row in table\">\n<tr ng-if=\"$even\">\n  <td ng-repeat=\"(key,value) in row\" ng-bind-html=\"decorate(value)\"></td>\n</tr>\n<tr ng-if=\"$odd\">\n  <td style=\"background-color:#f1f1f1\" ng-repeat=\"(key,value) in row\" ng-bind-html=\"decorate(value)\"></td>\n</tr>\n</tbody> \n</table>\n<style>\ntable, td  {\n  border: 1px solid grey;\n  border-collapse: collapse;\n  padding: 5px;\n}\n.highlighted { background: yellow }\n</style>\n<script>\n(function(scope) {\n    // debugger;\n    scope.table=[];\n    scope.search=\"\";\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n            scope.table=JSON.parse(scope.msg.payload)[0];\n            scope.search = scope.msg.search;\n    });\n    scope.decorate = function(value){\n        // debugger;\n        var tmp=\"\";\n        if ((scope.search)  && (($.type(value) === \"string\")))\n            tmp = value.replace(  new RegExp('('+scope.search+')', 'gi'),\n                                    '<span class=\"highlighted\">$1</span>');\n        else\n            tmp = value;\n        if (($.type(tmp) === \"string\")&&(tmp.length==0)) return value; else return tmp;\n    };\n})(scope);    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":800,"y":291,"wires":[[]]},{"id":"c2bf1f9f.17ba1","type":"inject","z":"37229101.7683ee","name":"customer","topic":"test","payload":"select rowid, * from customer order by rowid limit 5 offset 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":313,"wires":[["97e49789.a4cf88"]]},{"id":"d2cf7059.e923e","type":"ui_template","z":"37229101.7683ee","group":"2da1cfae.4650e","name":"paging controller","order":6,"width":0,"height":0,"format":"<div paging page=\"page\" page-size=\"page_size\" total=\"total\" paging-action=\"paging(page, pageSize, total)\">\n</div>\n<script>\n(function(scope) {\n    scope.total=0;\n    scope.page_size=0;\n    scope.page=0;\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n        // debugger;\n        if(scope.msg!==undefined){\n            scope.total=scope.msg.total;\n            scope.page_size=scope.msg.page_size;\n            scope.page=scope.msg.page;\n        }\n            \n    });\n    scope.paging=function(page,pageSize,total){\n        // debugger;\n        scope.msg.page=page;\n        scope.msg.page_size=pageSize;\n        scope.send(scope.msg);\n    };\n})(scope); \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":780,"y":483,"wires":[["992cd265.dbb4d","26d6298a.c64ed6"]]},{"id":"3e900a61.3a6a46","type":"function","z":"37229101.7683ee","name":"total, page_size","func":"context.global.knex.raw(flow.get('sql').qtotal).then(\n\t    function(resp){\n\t        // console.log(resp[0].count);\n\t        msg.total=resp[0].count;\n\t        flow.get('sql').total=resp[0].count;\n\t        msg.page_size=flow.get('sql').page_size;\n\t        msg.page=flow.get('sql').page;\n\t        node.send(msg);\n\t    });\nreturn null;","outputs":1,"noerr":0,"x":559,"y":483,"wires":[["d2cf7059.e923e","73c5d461.7da93c"]]},{"id":"26d6298a.c64ed6","type":"function","z":"37229101.7683ee","name":"sql page request","func":"flow.get('sql').page=msg.page;\nflow.get('sql').page_size=msg.page_size;\nmsg.payload=flow.get('sql').qpage;\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":355,"wires":[["97e49789.a4cf88","ff588560.8f6018"]]},{"id":"8d6cb191.d8597","type":"inject","z":"37229101.7683ee","name":"","topic":"","payload":"customer","payloadType":"str","repeat":"","crontab":"","once":false,"x":356,"y":482,"wires":[["67f27316.702e8c"]]},{"id":"992cd265.dbb4d","type":"debug","z":"37229101.7683ee","name":"","active":false,"console":"false","complete":"true","x":992,"y":482,"wires":[]},{"id":"cc6d037c.13cb6","type":"ui_dropdown","z":"37229101.7683ee","name":"Table choice","label":"","group":"2da1cfae.4650e","order":3,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":379,"y":601,"wires":[["67f27316.702e8c"]]},{"id":"7ecfc326.801a3c","type":"inject","z":"37229101.7683ee","name":"once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":148,"y":595,"wires":[["d1a66c6d.38b76"]]},{"id":"6aba1292.d049fc","type":"debug","z":"37229101.7683ee","name":"","active":false,"console":"false","complete":"true","x":627,"y":665,"wires":[]},{"id":"d1a66c6d.38b76","type":"function","z":"37229101.7683ee","name":"sql functions + List of tables","func":"flow.set('sql',{\n    get table() { return flow.get('table');},\n    set table(t) { flow.set('table',\"'\"+t+\"'\");},\n    get qtotal(){ return 'select Count(*) as count from '+flow.get('table')+ flow.get('sql').whereorall;},\n    get total() { return flow.get('total');},\n    set total(t) {flow.set('total',t);},\n    get page_size() {return flow.get('page_size');},\n    set page_size(s) {flow.set('page_size',s);}, \n    get page() { return flow.get('page');},\n    set page(p) {flow.set('page',p);},\n    get qpage(){ return \"select rowid, * from  \"+\n                        flow.get('table')+flow.get('sql').whereorall+\" order by rowid limit \"+\n                        flow.get('page_size')+\" offset \"+flow.get('page_size')*(flow.get('page')-1);},\n    get search() {return flow.get('search');},\n    set search(s) {flow.set('search',s);},\n    set columns(c) {flow.set('columns',c);},\n    get columns() { return flow.get('columns');},\n    get whereorall() {\n        var where = \"\";\n        var search = flow.get('search');\n        if((search!==undefined)&&(search!==null)&&(search.length>0)){\n            var columns = flow.get('columns');\n            if((columns!==undefined)&&(columns!==null)&&(columns.length>0)){\n                where = \" where \";\n                for(var i=0; i< columns.length; i++){\n                    where = where + columns[i].name+ \" like '%\"+flow.get('search')+\"%'\"; \n                    if (i<columns.length-1){\n                        where = where + \" or \";\n                    }\n                }\n            }\n        }\n        return where;\n    }\n});\n/* set the page_size */\nflow.get('sql').page_size=5;\nflow.get('sql').page=1;\n/* get a list of table backend dependent */\ncontext.global.knex.raw('select * from sqlite_master').then(\n\t    function(resp){\n\t        msg.options=[];\n\t        for(var i=0; i<resp.length;i++){\n\t            if(resp[i].type==='table')\n\t                msg.options.push(resp[i].name);\n\t        }\n\t        msg.options=msg.options.sort();\n\t        msg.payload=msg.options[0];\n\t        flow.get('sql').table=msg.options[0];\n\t        node.send(msg);\n\t    }\n);\nreturn null;","outputs":1,"noerr":0,"x":233,"y":668,"wires":[["cc6d037c.13cb6","6aba1292.d049fc"]]},{"id":"d6a4fd29.864dc","type":"ui_text_input","z":"37229101.7683ee","name":"","label":"search","group":"2da1cfae.4650e","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":187,"y":412,"wires":[["2cd4eedc.20f102"]]},{"id":"67f27316.702e8c","type":"function","z":"37229101.7683ee","name":"get columns","func":"flow.get('sql').table=msg.payload;\nflow.get('sql').page=1;\n/* get a list of associated columns  backend dependent*/\ncontext.global.knex.raw('pragma table_info('+flow.get('sql').table+')').then(\n    function(resp){\n        flow.get('sql').columns=resp;\n        // console.log(resp);\n        node.send(msg);\n    }\n);\nreturn null;","outputs":1,"noerr":0,"x":473,"y":544,"wires":[["3e900a61.3a6a46"]]},{"id":"ff588560.8f6018","type":"debug","z":"37229101.7683ee","name":"","active":false,"console":"false","complete":"true","x":716,"y":355,"wires":[]},{"id":"2cd4eedc.20f102","type":"function","z":"37229101.7683ee","name":"save search","func":"flow.get('sql').search=msg.payload;\nflow.get('sql').page=0;\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":412,"wires":[["3e900a61.3a6a46"]]},{"id":"73c5d461.7da93c","type":"ui_template","z":"37229101.7683ee","group":"2da1cfae.4650e","name":"Menu, total","order":1,"width":"2","height":"1","format":"<div layout=\"row\">\n<md-menu>\n <!-- Trigger element is a md-button with an icon -->\n <md-button ng-click=\"$mdOpenMenu($event)\" class=\"md-icon-button\" style=\"height:30px;width:30px;padding:0 0 0 0;\" aria-label=\"Open menu\">\n   <md-icon>build</md-icon>\n </md-button>\n <md-menu-content>\n   <md-menu-item><md-button ng-click=\"newColumn()\">New Column</md-button></md-menu-item>\n   <md-menu-item><md-button ng-click=\"dropColumn()\">Drop Comumn</md-button></md-menu-item>\n </md-menu-content>\n</md-menu>\n<small>&nbsp;</small>\n<small>{{total}}</small>\n</div>\n<script>\nfunction loadjscssfile(filename, filetype){\n    if (filetype==\"js\"){ //if filename is a external JavaScript file\n        var fileref=document.createElement('script');\n        fileref.setAttribute(\"type\",\"text/javascript\");\n        fileref.setAttribute(\"src\", filename);\n    }\n    else if (filetype==\"css\"){ //if filename is an external CSS file\n        var fileref=document.createElement(\"link\");\n        fileref.setAttribute(\"rel\", \"stylesheet\");\n        fileref.setAttribute(\"type\", \"text/css\");\n        fileref.setAttribute(\"href\", filename);\n    }\n    if (typeof fileref!=\"undefined\")\n        document.getElementsByTagName(\"head\")[0].appendChild(fileref);\n}\nloadjscssfile(\"https://fonts.googleapis.com/icon?family=Material+Icons\",\"css\");\n(function(scope) {\n    if((scope.msg!==undefined)&&(scope.msg.action!=undefined))\n        delete scope.msg.action;\n    scope.newColumn=function(){\n        // debugger;\n        scope.msg.action=\"newColumn\";\n        scope.msg.stamp=Math.random();\n        scope.send(scope.msg);\n    };\n    scope.dropColumn=function(){\n        // debugger;\n        scope.msg.action=\"dropColumn\";\n        scope.msg.stamp=Math.random();\n        scope.send(scope.msg);\n    };\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n        // debugger;\n        if(scope.msg!==undefined){\n            if(scope.msg.total!=undefined) scope.total=scope.msg.total;\n        }\n    });\n})(scope); \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":764,"y":545,"wires":[["cdf6c1d9.09a53","da7aae90.33e8f"]]},{"id":"cdf6c1d9.09a53","type":"ui_template","z":"37229101.7683ee","group":"2da1cfae.4650e","name":"Dialog Template","order":0,"width":0,"height":0,"format":"<div style=\"display: none;\" id=\"dialogContainer\" ng-controller=\"dialogController as ctrl\" layout=\"row\" ng-cloak>\n    <md-button id=\"custom\" class=\"md-primary md-raised\" ng-click=\"showCustom($event)\">\n        Custom\n    </md-button>\n    <span>{{answer}}</span>\n</div>\n<script language=\"javascript\">\n(function(scope) {\n    debugger;\n    if(scope.stamp===undefined) scope.stamp=-1;\n    if((scope.msg!==undefined)&&(scope.msg.stamp!==undefined)){\n        scope.stamp=scope.msg.stamp;\n    }\n    scope.triggerClick = function () {\n        setTimeout(function() {\n            angular.element('#custom').trigger('click');\n        }, 0);\n    };\n    scope.$watch('msg', function (newValue, oldValue, scope) {\n        // debugger;\n        if(scope.msg!==undefined){\n            if(scope.msg.action!==undefined){\n                if(scope.stamp==-1){\n                    scope.stamp=scope.msg.stamp;\n                }\n                if(scope.stamp!=scope.msg.stamp){\n                    scope.stamp=scope.msg.stamp;\n                    scope.triggerClick();\n                }\n            }\n        }\n    });\n    angular\n        .module('ui')\n        .controller('dialogController', scope.dialogController);\n    scope.dialogController = function($scope, $mdDialog) {\n        $scope.showCustom = function(event) {\n            $mdDialog.show({\n                clickOutsideToClose: true,\n                scope: $scope,        \n                preserveScope: true,           \n                templateUrl: 'dialog1.tmpl.html',\n                controller: function DialogController($scope, $mdDialog) {\n                    $scope.cancel = function() {\n                        $mdDialog.hide();\n                    }\n                    $scope.answer = function(resp) {\n                        $scope.answer=resp;\n                        $mdDialog.hide();\n                    }\n                }\n            });\n        };\n    }\n})(scope);         \n</script>    \n<script type=\"text/ng-template\" id=\"dialog1.tmpl.html\"><md-dialog aria-label=\"Mango (Fruit)\">\n  <form ng-cloak>\n    <md-toolbar>\n      <div class=\"md-toolbar-tools\">\n        <h2>Mango (Fruit)</h2>\n        <span flex></span>\n        <md-button class=\"md-icon-button\" ng-click=\"cancel()\">\n          <md-icon aria-label=\"Close dialog\">done</md-icon>\n        </md-button>\n      </div>\n    </md-toolbar>\n\n    <md-dialog-content>\n      <div class=\"md-dialog-content\">\n        <h2>{{msg.action}}</h2>\n        <p>\n          The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.\n        </p>\n\n        <img style=\"margin: auto; max-width: 100%;\" alt=\"Lush mango tree\" src=\"https://upload.wikimedia.org/wikipedia/commons/c/c3/Mangoes_pic.jpg\">\n\n        <p>\n          The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica&mdash;the \"common mango\" or \"Indian mango\"&mdash;is the only mango tree commonly cultivated in many tropical and subtropical regions.\n        </p>\n        <p>\n          It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.\n        </p>\n      </div>\n    </md-dialog-content>\n\n    <md-dialog-actions layout=\"row\">\n      <md-button href=\"http://en.wikipedia.org/wiki/Mango\" target=\"_blank\" md-autofocus>\n        More on Wikipedia\n      </md-button>\n      <span flex></span>\n      <md-button ng-click=\"answer('not useful')\">\n       Not Useful\n      </md-button>\n      <md-button ng-click=\"answer('useful')\">\n        Useful\n      </md-button>\n    </md-dialog-actions>\n  </form>\n</md-dialog>\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":978,"y":545,"wires":[[]]},{"id":"da7aae90.33e8f","type":"debug","z":"37229101.7683ee","name":"","active":true,"console":"false","complete":"true","x":917,"y":606,"wires":[]},{"id":"2da1cfae.4650e","type":"ui_group","z":"","name":"Table Browser 3.0","tab":"d65ac909.e2e968","disp":true,"width":"27"},{"id":"d65ac909.e2e968","type":"ui_tab","z":"","name":"SQL 3.0","icon":"dashboard","order":1}]
